<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LVDatabaseEntities" connectionString="metadata=res://*/LVDatabase.csdl|res://*/LVDatabase.ssdl|res://*/LVDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THANHPHI\SQLEXPRESS;initial catalog=LVDatabase;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>